<%- include('../../components/header.ejs') %>

<body>

<div class="login-container">
  <h2>Iniciar sesión</h2>
  
  <form action="/api/auth/login" method="POST">
    <label for="email">Correo electrónico:</label>
    <input type="email" name="email" value="<%= email || '' %>" placeholder="ejemplo@gmail.com" 
    required class="<%= validationErrors?.email ? 'input-error' : '' %>">
    
    <% if (validationErrors?.email) { %>
      <p class="field-error">
        <i class="fa-solid fa-circle-exclamation"></i>
        <%= validationErrors.email %></p>
    <% } %>
    
    <label for="password">Contraseña:</label>
    <div class="password-wrapper">
      <input type="password" name="password" id="passwordInput" placeholder="Introduce la contraseña" required 
      class="password-input <%= validationErrors?.password ? 'input-error' : '' %>" >
      
      <span onclick="togglePassword('password')" class="toggle-password">
        <i id="eyeIconPassword" class="fas fa-eye-slash"></i>
      </span>
    </div>
    
    <% if (validationErrors?.password) { %>
    <p class="field-error">
      <i class="fa-solid fa-circle-exclamation"></i>
      <%= validationErrors.password %>
    </p>
    <% } %>
    
    <% if (error && !validationErrors) { %>
      <p class="general-error"><%= error %></p>
    <% } %>
  
    <button type="submit">Entrar</button>
  </form>

  <div class="links">
    <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
    <p><a href="/email">¿Has olvidado la contraseña?</a></p>
  </div>
</div>

</body>

<%- include('../../components/footer.ejs') %>