<%- include('../../partials/header.ejs') %>

<html>
<link rel="stylesheet" href="/css/store/orderDetails.css">
</html>

</head>
<body>

    <div class="container-details">

        <h2 class="tittle2">Detalles del Pedido #<%= order.id %></h2>

        <div class="card-details mb-4">
            <div class="card-header-details">
                <h4 class="tittle4">Información del Pedido</h4>
                <a href="#" class="no-in-pdf" onclick="generatePDF()"><i class="fa-solid fa-file-pdf"></i> Descargar PDF</a>
            </div>
            <div class="card-body-details">
                <div class="row-details">
                    <div class="col-md-6-details">
                        <h5 class="tittle5">Dirección de Envío</h5>
                        <p class="Information-details">
                            <%= order.nombre %> <%= order.apellido %><br>
                            <%= order.direccion %><br>
                            <%= order.nombre_ciudad_envio %>, <%= order.distrito %><br>
                            Teléfono: <%= order.telefono %>
                        </p>
                    </div>
                    <div class="col-md-6-details">
                        <h5 class="tittle5">Detalles</h5>
                        <p class="Information-details">
                            <strong>Fecha:</strong>
                            <%= new Date(order.fecha_creacion).toLocaleString() %><br>
                                <strong>Estado:</strong> <span
                                    class="badge-details <%= order.status === 'pagado' ? 'badge-success-details' : '' %>">
                                    <%= order.status %>
                                </span><br>
                                <strong>Estado de Envío:</strong>
                                <span class="badge-details <%= order.estado_envio === 'enviado' ? 'badge-warning-details' : 
                                    order.estado_envio === 'entregado' ? 'badge-success-details' :
                                    order.estado_envio === 'cancelado' ? 'badge-danger-details' : 
                                    order.estado_envio === 'pendiente' ? 'badge-pending-details' : '' %>">
                                    <%= order.estado_envio ? order.estado_envio.toUpperCase() : 'PENDIENTE' %>
                                </span><br>
                            <strong class="strong-details">Total:</strong> $<%= Number(order.total).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-details">
            <div class="card-header-details">
                <h4>Productos</h4>
            </div>
            <div class="card-body-details">
              <div class="table-responsive-mobile">
                <table class="table-details">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Color</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Envío</th>
                            <th>Descuento%</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.items.forEach(item => { %>
                            <tr>
                                <td><%= item.nombre_producto %> <%= item.ram %> + <%= item.almacenamiento %></td>
                                <td><%= item.colorSeleccionado.toUpperCase() %></td>
                                <td><%= item.cantidad %></td>
                                <td>$<%= Number(item.precio_unitario).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %></td>
                                <td>$<%= Number(order.costo_envio || 0).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %></td>
                                <td>$<%= Number(item.descuento).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %></td>
                                <td>$<%= Number(item.subtotal).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" style="text-align: right; font-size: 1.2em;">Total</th>
                            <th style="font-size: 1.2em;">$<%= Number(order.total).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
          </div>
        </div>
        <div class="cancel-message">
            <p>
                ¿Algún problema con tu pedido?
                Por favor <strong>contáctanos</strong> a <a href="mailto:info@lavegatechgsrl.com">info@lavegatechgsrl.com</a> o al
                teléfono
                <a href="tel:+18091234567">+1 (809)-277-2371</a>
            </p>
        </div>
        <a href="/api/order/showOrders" class="btn-details no-in-pdf">Volver</a>
        </div>

    <%- include('../../partials/footer.ejs') %>

</body>

	<script src="/js/utils/PDF.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

</html>