<%- include ('./partials/header.ejs') %>

  <link rel="stylesheet" href="/css/utils/toastify.css">

  <link rel="stylesheet" href="/css/utils/ratingTooltip.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  
<!-- HTML TAB -->
<script>
function openCategory(evt, categoryName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(categoryName).style.display = "block";
    evt.currentTarget.className += " active";

    $("#" + categoryName + " .products-slick").slick("setPosition");
}

document.addEventListener("DOMContentLoaded", function() {
document.querySelector(".tablink").click();
});
</script>
<!-- /HTML TAB -->
 
	<!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Lo más reciente</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li><a class="tablink active" data-toggle="tab" role="button" onclick="openCategory(event, 'moviles')">Móviles</a></li>
                                <li><a class="tablink" data-toggle="tab" role="button" onclick="openCategory(event, 'smarttv')">SmartTV</a></li>
                                <li><a class="tablink" data-toggle="tab" role="button" onclick="openCategory(event, 'laptops')">Laptops</a></li>
                                <li><a class="tablink" data-toggle="tab" role="button" onclick="openCategory(event, 'consolas')">Consolas</a></li>
                                <li><a class="tablink" data-toggle="tab" role="button" onclick="openCategory(event, 'tablets')">Tablets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <div id="moviles" class="tabcontent active">
                            <div class="products-slick" data-nav="#slick-nav-moviles" id="product-list-moviles">
                                <% const productsMoviles = products.filter(p => p.category === 'moviles'); %>
                                    <% productsMoviles.forEach(product => { %>
                                <div class="product" data-category="<%= product.category %>">
                                    <div class="product-img"> <a href="/product/<%= product.id %>?color=<%= product.color %>">
                                        <img src="<%= product.image %>" alt="<%= product.name %>">
                                        <div class="product-label">
                                            <% if (product.discount > 0) { %>
                                            <span class="sale">-<%= product.discount %>%</span>
                                            <% } %>
                                            <% if (product.itsNew) { %>
                                            <span class="new">Nuevo</span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">
                                            <%= product.category === 'moviles' ? 'Móviles' : product.category.charAt(0).toUpperCase() + product.category.slice(1) %>
                                        </p>
                                        <h3 class="product-name">
                                                <%= product.name %> <%= product.specs %>
                                            </h3>
                                            <h4 class="product-price">
                                            $<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            <% if (product.discount > 0) { %>
                                                <del class="product-old-price">
                                                    $<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                </del>
                                            <% } %>
                                        </h4>
                                        </a>
                                        <div class="product-rating">
                                        <% for (let i = 1; i <= 5; i++) { %>
                                            <% if (i <= Math.floor(product.averageRating)) { %>
                                                <i class="fa-solid fa-star"></i>
                                            <% } else if (i - product.averageRating < 1 && i > product.averageRating) { %>
                                                <i class="fa-regular fa-star-half-stroke"></i>
                                            <% } else { %>
                                                <i class="fa-regular fa-star"></i>
                                            <% } %>
                                        <% } %>
                                    </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist" 
                                                data-product-id="<%= product.id %>" 
                                                data-product-color="<%= product.color %>">
                                                <i class="fa-regular fa-heart"></i>  
                                                <span class="tooltipp">Favoritos</span>
                                            </button>
                                                <% if (product.itsMobile) { %>
                                                <button class="add-to-compare" data-id="<%= product.id %>"><i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                <span class="tooltipp">Comparar</span></button>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>  
                            <div id="slick-nav-moviles" class="products-slick-nav"></div>
                        </div>
                    
                        <div id="smarttv" class="tabcontent">
                            <div class="products-slick" data-nav="#slick-nav-smarttv" id="product-list-smarttv">
                                <% const productsSmarttv = products.filter(p => p.category === 'smarttv'); %>
                                    <% productsSmarttv.forEach(product => { %>
                                <div class="product" data-category="<%= product.category %>">
                                    <div class="product-img"> <a href="/product/<%= product.id %>?color=<%= product.color %>">
                                        <img src="<%= product.image %>" alt="<%= product.name %>">
                                        <div class="product-label">
                                            <% if (product.discount > 0) { %>
                                            <span class="sale">-<%= product.discount %>%</span>
                                            <% } %>
                                            <% if (product.itsNew) { %>
                                            <span class="new">Nuevo</span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">
                                            <%= product.category === 'smarttv' ? 'SmartTV' : product.category.charAt(0).toUpperCase() + product.category.slice(1) %>
                                        </p>
                                        <h3 class="product-name">
                                                <%= product.name %><%= product.specs %>
                                            </h3>
                                            <h4 class="product-price">
                                            $<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            <% if (product.discount > 0) { %>
                                                <del class="product-old-price">
                                                    $<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                </del>
                                            <% } %>
                                        </h4></a>
                                        <div class="product-rating">
                                        <% for (let i = 1; i <= 5; i++) { %>
                                            <% if (i <= Math.floor(product.averageRating)) { %>
                                                <i class="fa-solid fa-star"></i>
                                            <% } else if (i - product.averageRating < 1 && i > product.averageRating) { %>
                                                <i class="fa-regular fa-star-half-stroke"></i>
                                            <% } else { %>
                                                <i class="fa-regular fa-star"></i>
                                            <% } %>
                                        <% } %>
                                    </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist" 
                                                data-product-id="<%= product.id %>" 
                                                data-product-color="<%= product.color %>">
                                                <i class="fa-regular fa-heart"></i>  
                                                <span class="tooltipp">Favoritos</span>
                                            </button>

                                                <% if (product.itsMobile) { %>
                                                <button class="add-to-compare" data-id="<%= product.id %>"><i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                <span class="tooltipp">Comparar</span></button>
                                                <% } %>
                                        </div>
                                    </div>
                                  
                                </div>
                                <% }); %>
                            </div>
                              <div id="slick-nav-smarttv" class="products-slick-nav"></div>
                        </div>    
                        
                        <div id="laptops" class="tabcontent">
                            <div class="products-slick" data-nav="#slick-nav-laptops" id="product-list-laptops">
                                <% const productsLaptops = products.filter(p => p.category === 'laptops'); %>
                                    <% productsLaptops.forEach(product => { %>
                                <div class="product" data-category="<%= product.category %>"> 
                                    <div class="product-img"> <a href="/product/<%= product.id %>?color=<%= product.color %>">
                                        <img src="<%= product.image %>" alt="<%= product.name %>">
                                        <div class="product-label">
                                            <% if (product.discount > 0) { %>
                                            <span class="sale">-<%= product.discount %>%</span>
                                            <% } %>
                                            <% if (product.itsNew) { %>
                                            <span class="new">Nuevo</span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">
                                            <%= product.category === 'laptops' ? 'Laptops' : product.category.charAt(0).toUpperCase() + product.category.slice(1) %>
                                        </p>
                                        <h3 class="product-name">
                                                <%= product.name %>
                                            </h3>
                                            <h4 class="product-price">
                                            $<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            <% if (product.discount > 0) { %>
                                                <del class="product-old-price">
                                                    $<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                </del>
                                            <% } %>
                                        </h4></a>
                                        <div class="product-rating">
                                            <% for (let i = 1; i <= 5; i++) { %>
                                                <% if (i <= Math.floor(product.averageRating)) { %>
                                                    <i class="fa-solid fa-star"></i>
                                                <% } else if (i - product.averageRating < 1 && i > product.averageRating) { %>
                                                    <i class="fa-regular fa-star-half-stroke"></i>
                                                <% } else { %>
                                                    <i class="fa-regular fa-star"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                        <div class="product-btns"> 

                                            <button class="add-to-wishlist" 
                                                data-product-id="<%= product.id %>" 
                                                data-product-color="<%= product.color %>">
                                                <i class="fa-regular fa-heart"></i>  
                                                <span class="tooltipp">Favoritos</span>
                                            </button>
                                                
                                                <% if (product.itsMobile) { %>
                                                <button class="add-to-compare" data-id="<%= product.id %>"><i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                <span class="tooltipp">Comparar</span></button>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                              <div id="slick-nav-laptops" class="products-slick-nav"></div>
                        </div>

                        <div id="consolas" class="tabcontent">
                            <div class="products-slick" data-nav="#slick-nav-consolas" id="product-list-consolas">
								<% const productsConsolas = products.filter(p => p.category === 'consolas'); %>
                                    <% productsConsolas.forEach(product => { %>
                                <div class="product" data-category="<%= product.category %>">
                                    <div class="product-img"> <a href="/product/<%= product.id %>?color=<%= product.color %>">
                                        <img src="<%= product.image %>" alt="<%= product.name %>">
                                        <div class="product-label">
                                            <% if (product.discount > 0) { %>
                                            <span class="sale">-<%= product.discount %>%</span>
                                            <% } %>
                                            <% if (product.itsNew) { %>
                                            <span class="new">Nuevo</span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">
                                            <%= product.category === 'consolas' ? 'Consolas' : product.category.charAt(0).toUpperCase() + product.category.slice(1) %>
                                        </p>
                                        <h3 class="product-name">
                                                <%= product.name %>
                                            </h3>
                                            <h4 class="product-price">
                                            $<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            <% if (product.discount > 0) { %>
                                                <del class="product-old-price">
                                                    $<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                </del>
                                            <% } %>
                                        </h4></a>
                                        <div class="product-rating">
                                            <% for (let i = 1; i <= 5; i++) { %>
                                                <% if (i <= Math.floor(product.averageRating)) { %>
                                                    <i class="fa-solid fa-star"></i>
                                                <% } else if (i - product.averageRating < 1 && i > product.averageRating) { %>
                                                    <i class="fa-regular fa-star-half-stroke"></i>
                                                <% } else { %>
                                                    <i class="fa-regular fa-star"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist" 
                                                data-product-id="<%= product.id %>" 
                                                data-product-color="<%= product.color %>">
                                                <i class="fa-regular fa-heart"></i>  
                                                <span class="tooltipp">Favoritos</span>
                                            </button>

                                                <% if (product.itsMobile) { %>
                                                <button class="add-to-compare" data-id="<%= product.id %>"><i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                <span class="tooltipp">Comparar</span></button>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                              <div id="slick-nav-consolas" class="products-slick-nav"></div>
                        </div>

                        <div id="tablets" class="tabcontent">
                            <div class="products-slick" data-nav="#slick-nav-tablets" id="product-list-tablets">
								<% const productsTablets = products.filter(p => p.category === 'tablets'); %>
                                    <% productsTablets.forEach(product => { %>
                                <div class="product" data-category="<%= product.category %>">
                                    <div class="product-img"> <a href="/product/<%= product.id %>?color=<%= product.color %>">
                                        <img src="<%= product.image %>" alt="<%= product.name %>">                                    
                                        <div class="product-label">
                                            <% if (product.discount > 0) { %>
                                            <span class="sale">-<%= product.discount %>%</span>
                                            <% } %>
                                            <% if (product.itsNew) { %>
                                            <span class="new">Nuevo</span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">
                                            <%= product.category === 'tablets' ? 'Tablets' : product.category.charAt(0).toUpperCase() + product.category.slice(1) %>
                                        </p>
                                        <h3 class="product-name">
                                                <%= product.name %> <%= product.specs %>
                                            </h3>
                                            <h4 class="product-price">
                                            $<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            <% if (product.discount > 0) { %>
                                                <del class="product-old-price">
                                                    $<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                </del>
                                            <% } %>
                                        </h4></a>
                                        <div class="product-rating">
                                            <% for (let i = 1; i <= 5; i++) { %>
                                                <% if (i <= Math.floor(product.averageRating)) { %>
                                                    <i class="fa-solid fa-star"></i>
                                                <% } else if (i - product.averageRating < 1 && i > product.averageRating) { %>
                                                    <i class="fa-regular fa-star-half-stroke"></i>
                                                <% } else { %>
                                                    <i class="fa-regular fa-star"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist" 
                                                data-product-id="<%= product.id %>" 
                                                data-product-color="<%= product.color %>">
                                                <i class="fa-regular fa-heart"></i>  
                                                <span class="tooltipp">Favoritos</span>
                                            </button>

                                                <% if (product.itsMobile) { %>
                                                <button class="add-to-compare" data-id="<%= product.id %>"><i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                <span class="tooltipp">Comparar</span></button>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                              <div id="slick-nav-tablets" class="products-slick-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div><br><br>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="section-title text-center">
                <h3 class="title">Nuestras colecciones</h3>
            </div>
            <% categories.forEach(category => { %>
            <% if (['moviles', 'smarttv', 'laptops','consolas', 'tablets', 'otros'].includes(category.category)) { %>
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                     <div class="shop-img">
                        <img 
                            src="
                            <% if (category.category === 'moviles') { %>/img/moviles.png
                            <% } else if (category.category === 'smarttv') { %>/img/smarttv.png
                            <% } else if (category.category === 'laptops') { %>/img/laptops.png
                            <% } else if (category.category === 'consolas') { %>/img/consolas.png
                            <% } else if (category.category === 'tablets') { %>/img/tablets.png
                            <% } else { %>/img/otros.png
                            <% } %>" 
                            alt="<%= category.category %>">
                    </div>
                    <div class="shop-body">
                        <h3>
                            Colección de<br>
                            <%= 
                                category.category === 'moviles' ? 'Móviles' :
                                category.category === 'smarttv' ? 'SmartTV' :
                                category.category === 'otros' ? 'Tech & Hogar' :
                                category.category.charAt(0).toUpperCase() + category.category.slice(1) 
                            %>
                        </h3>
                        <a href="/store/1?&category=<%= category.id %>" class="cta-btn">
                            Comprar ahora<i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /shop -->	
            <% } %>
            <% }); %>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Descubre más opciones</h3>
                </div>
            </div>

            <% if (recommended && recommended.length > 0) { %>
                <% recommended.forEach(product => { %>
                    <!-- product -->
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <a href="/product/<%= product.id %>?color=<%= product.color %>">
                                    <img src="<%= product.image %>" alt="<%= product.name %>">
                                    <div class="product-label">
                                        <% if (product.discount > 0) { %>
                                            <span class="sale">-<%= product.discount %>%</span>
                                        <% } %>
                                        <% if (product.itsNew) { %>
                                            <span class="new">Nuevo</span>
                                            <% } %>
                                    </div>
                            </div>

                            <div class="product-body">
                                <p class="product-category"><%= product.category || 'Sin categoría' %></p>
                                <h3 class="product-name"><%= product.name %> <%= product.specs %></h3>

                                <h4 class="product-price">
                                    $<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                    <% if (product.discount > 0) { %>
                                        <del class="product-old-price">
                                            $<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                        </del>
                                    <% } %>
                                </h4></a>

                                <div class="product-rating" data-product-id="<%= product.id %>">
  <a href="/product/<%= product.id %>#tab3" class="rating-link">
    <% for (let i = 1; i <= 5; i++) { %>
      <% if (i <= Math.floor(product.averageRating)) { %>
        <i class="custom-star fa-solid fa-star"></i>
      <% } else if (i - product.averageRating < 1 && i > product.averageRating) { %>
        <i class="custom-star fa-regular fa-star-half-stroke"></i>
      <% } else { %>
        <i class="custom-star fa-regular fa-star"></i>
      <% } %>
    <% } %>
  </a>

  <div class="rating-tooltip hidden"></div>
</div>


                                <div class="product-btns">
                                    <button class="add-to-wishlist" 
                                            data-product-id="<%= product.id %>" 
                                            data-product-color="<%= product.color %>">
                                        <i class="fa-regular fa-heart"></i>  
                                        <span class="tooltipp">Favoritos</span>
                                    </button>

                                    <% if (product.itsMobile) { %>
                                        <button class="add-to-compare" data-id="<%= product.id %>">
                                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                            <span class="tooltipp">Comparar</span>
                                        </button>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /product -->
                <% }); %>
            <% } else { %>
                <p class="text-center">No hay products recommended en este momento.</p>
            <% } %>
        </div>
    </div>
</div>
<!-- /Section -->


<%- include('./partials/footer.ejs') %>
        
</body>
<script src="/js/utils/ratingTooltip.js" type="module"></script>
<script src="/js/utils/ratingTab.js" type="module"></script>
<script src="/js/utils/buttonComparison.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/feather-icons"></script>

</html>