<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>LaVegaTech - Admin</title>
    <link rel="icon" type="image/png" href="/img/lavegatech-logo.png">
</head>

<body>
    <aside class="sidebar">
        <div class="sidebar-content">
            <div class="sidebar-title">
                <a>Hola, <%= admin?.username.toUpperCase() %></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/admin/productos"
                            class="<%= req.originalUrl === '/admin/productos' ? 'active' : '' %>">
                            <i class="fas fa-box-open"></i>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/variantes"
                            class="<%= req.originalUrl === '/admin/variantes' ? 'active' : '' %>">
                            <i class="fas fa-cogs"></i>
                            <span>Variantes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/marcaCategoria"
                            class="<%= req.originalUrl === '/admin/marcaCategoria' ? 'active' : '' %>">
                            <i class="fas fa-tags"></i>
                            <span>Marcas y Categorías</span>
                        </a>
                    </li>
                    <li>
                        <a href="/api/admin/pedidos"
                            class="<%= req.originalUrl === '/api/admin/pedidos' ? 'active' : '' %>">
                            <i class="fas fa-shopping-cart"></i>
                            <span>Pedidos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/usuarios" class="<%= req.originalUrl === '/admin/usuarios' ? 'active' : '' %>">
                            <i class="fas fa-users"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/accounts" class="<%= req.originalUrl === '/admin/accounts' ? 'active' : '' %>">
                            <i class="fas fa-user-shield"></i>
                            <span>Administradores</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <form id="logout-form" action="/api/adminAuth/logout" method="POST" style="display: none;"></form>
        <div class="logout">
            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                <i class="fas fa-sign-out-alt"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </aside>
</body>