  <%- include('../admin/dashboard.ejs') %>

<head>
  <link rel="stylesheet" href="/css/orders.css">
</head>

<div class="main-content">
    <header class="header">
        <h1>Lista de Pedidos</h1>
    </header>

        <main class="main-content-area">
  
        <div class="container-user">
        <h2>Pedidos</h2>

        <div class="search-container">
            <input type="text" id="searchPedidosInput" placeholder="Buscar pedidos..." class="input-search" />
            <i class="fa fa-search search-icon"></i>
        </div>

        <% if (orders.length === 0) { %>
            <div class="alert-info-user">
                No hay pedidos aún.
            </div>
            <a href="/" class="btn-user">Ir a la tienda</a>
        <% } else { %>
            <div class="list-group-user">
                <% orders.forEach(order => { %>
                    <a href="/api/admin/pedidos/<%= order.id %>" class="list-group-product">
                        <div class="d-flex-user w-100-user justify-content-user">
                            <h5 class="mb-1">Pedido #<%= order.id %></h5>
                            <small class="text-muted-user"><%= new Date(order.fecha_creacion).toLocaleDateString() %></small>
                        </div>
                        <p class="mb-1-user">
                            <span class="strong-details">Total:</span> $<%= Number(order.total).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>
                            <span class="badge-user <%= order.status === 'pagado' ? 'bg-success-user' : 'bg-warning-user' %> ms-2">
                                <%= order.status %>
                            </span>
                        </p>
                        <small class="text-muted-user">
                            <%= order.direccion %>, <%= order.ciudad %>
                        </small>
                    </a>
                <% }); %>
            </div>
        <% } %>
    </div>
  </main>
  
<script>
  const searchInput = document.getElementById("searchPedidosInput");
  const pedidos = document.querySelectorAll(".list-group-product");

  searchInput.addEventListener("input", () => {
    const valor = searchInput.value.toLowerCase();

    pedidos.forEach(pedido => {
      const texto = pedido.textContent.toLowerCase();
      const visible = texto.includes(valor);
      pedido.style.display = visible ? "block" : "none";
    });
  });
</script>
