<%- include('../partials/header.ejs') %>

<link type="text/css" rel="stylesheet" href="/css/contact.css"/>
<link rel="stylesheet" href="/css/toastify.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<body class="body-contact">
<div class="contactos-page">
    <!-- Start Content Page -->
    <div class="contenedor-principal bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="titulo">Contactanos</h1>
            <p class="texto">
                En <img class="lavega" src="/img/lavegatech-logo.png" type="image/png"> queremos brindarte la mejor experiencia de compra. 
                Si tienes alguna consulta sobre nuestros productos, pedidos o cualquier otro tema, no dudes en contactarnos.
            </p>
        </div>
    </div>
</div>

<div id="mapid"></div>

<!-- Start map -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    var mymap = L.map('mapid').setView([19.222076, -70.529688], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(mymap);

    L.marker([19.222076, -70.529688]).addTo(mymap)
        .bindPopup("<b>Ubicación</b><br />Calle Libertad, La Vega 41000.").openPopup();

    mymap.scrollWheelZoom.disable();
    mymap.touchZoom.disable();

    setTimeout(() => {
        mymap.invalidateSize();
    }, 500);
</script>
<!-- End Map -->

<div class="input-principal">
    <div class="fila-formulario">
        <form class="formulario-contacto" method="post" action="/api/auth/contact" role="form" id="contactForm">
            <div class="fila-campos">
                <div class="campo-formulario">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="entrada-texto <%= validationErrors?.nombre ? 'input-error' : '' %>" 
                    id="nombre" name="nombre" placeholder="Introduce el nombre" value="<%= nombre || '' %>">
                    <% if (validationErrors?.nombre) { %>
                        <p class="field-error">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <%= validationErrors.nombre %></p>
                    <% } %>
                </div>
                <div class="campo-formulario">
                    <label for="email">Correo</label>
                    <input type="email" class="entrada-texto <%= validationErrors?.email ? 'input-error' : '' %>" 
                    id="email" name="email" placeholder="ejemplo@gmail.com" value="<%= email || '' %>">
                    <% if (validationErrors?.email) { %>
                        <p class="field-error">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <%= validationErrors.email %></p>
                    <% } %>
                </div>
            </div>
            <div class="campo-formulario">
                <label for="asunto">Asunto</label>
                <input type="text" class="entrada-texto <%= validationErrors?.asunto ? 'input-error' : '' %>" 
                id="asunto" name="asunto" placeholder="Introduce el asunto" value="<%= asunto || '' %>">
                <% if (validationErrors?.asunto) { %>
                    <p class="field-error">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <%= validationErrors.asunto %></p>
                <% } %>
            </div>
            <div class="campo-formulario">
                <label for="mensaje" style="margin-top: 20px; display: block;">Mensaje</label>
                <textarea class="entrada-texto <%= validationErrors?.mensaje ? 'input-error' : '' %>" 
                id="mensaje" name="mensaje" placeholder="Escribe tu mensaje..." rows="8"><%= mensaje || '' %></textarea>
                <% if (validationErrors?.mensaje) { %>
                    <p class="field-error"><i class="fa-solid fa-circle-exclamation"></i>
                    <%= validationErrors.mensaje %></p>
                <% } %>
            </div>
            
            <% if (validationErrors?.password) { %>
                <p class="field-error">
                <i class="fa-solid fa-circle-exclamation"></i>
                <%= validationErrors.password %></p>
            <% } %>

            <% if (error && !validationErrors) { %>
                <p class="general-error"><%= error %></p>
            <% } %>
            
            <div class="fila-boton">
                <button type="submit" class="boton-enviar">Enviar</button>
            </div>
        </form>
    </div>
</div>

<% if (success) { %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      Toastify({
        text: `<i data-feather="check-circle" style="vertical-align: middle; margin-right: 8px;"></i> Mensaje enviado correctamente`,
        duration: 3000,
        gravity: "top",
        position: "right",
        stopOnFocus: true,
        backgroundColor: "#4CAF50",
        escapeMarkup: false,
        className: "toast-notification"
      }).showToast();

      setTimeout(() => {
        feather.replace();
      }, 50);
    });
  </script>
<% } %>
  
  <%- include('../partials/footer.ejs') %>

</body>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/feather-icons"></script>

</html>