<%- include('../partials/header.ejs') %>

  <link rel="stylesheet" href="/css/utils/toastify.css">

  <link rel="stylesheet" href="/css/utils/ratingTooltip.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<script>
	function updateProducts() {

		const limit = document.getElementById('limit-select').value;
		const sortBy = document.getElementById('sortBy-select').value;
		const minPrice = document.getElementById('price-min').value;
		const maxPrice = document.getElementById('price-max').value;

		const categories = Array.from(document.querySelectorAll('input[name="category"]:checked'))
			.map(checkbox => checkbox.value).join(',');

		const brands = Array.from(document.querySelectorAll('input[name="brand"]:checked'))
			.map(checkbox => checkbox.value).join(',');

		const page = 1;

		window.location.href = `/store/${page}?limit=${limit}&sortBy=${sortBy}&category=${categories}
			&brand=${brands}&minPrice=${minPrice}&maxPrice=${maxPrice}`;
	}
	
	document.addEventListener("DOMContentLoaded", function () {
		document.getElementById("apply-filter-price").addEventListener("click", updateProducts);
	});
</script>

<script>
  var defaultMin = <%= defaultMin %>;
  var defaultMax = <%= defaultMax %>;
</script>
  
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li class="active">
						<%= categories.length> 0 ? categories.map(id => categoryCount.find(c => c.categoryId ==
							id)?.category).join(' / ') : 'Todos los productos' %>
							<%= brands.length > 0 ? ' -- ' + brands.map(id => brandCount.find(m => m.brandId == id)?.brand).join(' / ') : '' %>
							(<%= totalProduct %> Resultados)
					</li>
				</ul>
			</div>	
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Categorías</h3>
					<div class="checkbox-filter">
						<% categoryCount.forEach(category=> { %>
							<div class="input-checkbox">
								<input type="checkbox" id="category-<%= category.categoryId %>" name="category"
									value="<%= category.categoryId %>" onchange="updateProducts()"
									<%=categories.includes(category.categoryId) ? 'checked' : '' %>>
								<label for="category-<%= category.categoryId %>">
									<span></span>
									<%= category.category %>
										<small>(<%= category.count %>)</small>
								</label>
							</div>
						<% }); %>
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Precio</h3>
					<div class="price-filter">	
						<div id="price-slider"></div>
						<div class="input-number price-min">
							<input id="price-min" type="number" value="<%= minPrice ?? defaultMin %>">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
						<span>-</span>
						<div class="input-number price-max">
							<input id="price-max" type="number" value="<%= maxPrice ?? defaultMax %>">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div><br><br>
						<button id="apply-filter-price" class="btn btn-primary">Aplicar</button>
						<button id="reset-filter-price" class="btn btn-danger">Reiniciar</button>
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Marcas</h3>
					<div class="checkbox-filter">
						<% brandCount.forEach(brand=> { %>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-<%= brand.brandId %>" name="brand"
									value="<%= brand.brandId %>" onchange="updateProducts()"
									<%= brands.includes(brand.brandId.toString()) ? 'checked' : '' %>>
								<label for="brand-<%= brand.brandId %>">
									<span></span>
									<%= brand.brand %>
									<small>(<%= brand.count %>)</small>
								</label>
							</div>
						<% }); %>
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
				<h3 class="aside-title">Los Más Vendidos</h3>
				<% if (topSelling?.length) { %>
					<% topSelling.forEach(product => { %>
					<div class="product-widget">
						<a href="/product/<%= product.id %>">
						<div class="product-img">
						<img src="<%= product.image %>"
							alt="<%= product.name %>">
						</div>
						<div class="product-body">
						<p class="product-category"><%= product.category %></p>
						<h3 class="product-name">
							<%= product.name %> <%= product.specs %>
						</h3>
						<h4 class="product-price">
							$<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
							<% if (product.discount > 0) { %>
								<del class="product-old-price">
									$<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
								</del>
							<% } %>
							</h4></a>
						</div>
					</div>
					<% }) %>
				<% } else { %>
					<p>No hay productos destacados.</p>
				<% } %>
				</div>
				<!-- /aside Widget -->
			</div>
			
			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="store-sort">
						<label>
							Ordenar por:
							<select class="input-select" id="sortBy-select" onchange="updateProducts()">
								<option value="0" <%=sortBy===0 ? 'selected' : '' %>>Mas recientes</option>
								<option value="1" <%=sortBy===1 ? 'selected' : '' %>>Mas antiguos</option>
								<option value="2" <%=sortBy===2 ? 'selected' : '' %>>Menor precio</option>
								<option value="3" <%=sortBy===3 ? 'selected' : '' %>>Mayor precio</option>
								<option value="4" <%=sortBy===4 ? 'selected' : '' %>>Con descuento</option>
							</select>
						</label>
						<label>
							Ver:
							<select class="input-select" id="limit-select" onchange="updateProducts()">
								<option value="9" <%=limit===9 ? 'selected' : '' %>>9</option>
								<option value="20" <%=limit===20 ? 'selected' : '' %>>20</option>
								<option value="50" <%=limit===50 ? 'selected' : '' %>>50</option>
							</select>
						</label>
					</div>
				</div>
				<!-- /store top filter -->

				<!-- store products -->
				<div id="store-products">
					<div class="row">
						<% if (products && products.length> 0) { %>
							<% products.forEach(product=> { %>
								<div class="col-md-4 col-xs-6">
									<div class="product">
										<div class="product-img"> <a href="/product/<%= product.id %>?color=<%= product.color %>">
											<img src="<%= product.image %>" alt="<%= product.name %>" >
											<div class="product-label">
												<% if (product.discount> 0) { %>
													<span class="sale">-<%= product.discount %>%</span>
													<% } %>
														<% if (product.itsNew) { %>
														<span class="new">Nuevo</span>
														<% } %>
														</div>
														</div>
														<div class="product-body">
															<p class="product-category"><%= product.category %></p>
															<h3 class="product-name"><%= product.name %> <%= product.specs %></h3>
															<h4 class="product-price">
															$<%= Number(product.price).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
															<% if (product.discount > 0) { %>
																<del class="product-old-price">
																	$<%= Number(product.price / (1 - product.discount / 100)).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
																</del>
															<% } %>
															</h4>
															</a>
															 <div class="product-rating clickable-rating" data-product-id="<%= product.id %>">
															<% for (let i = 1; i <= 5; i++) { %>
																<% if (i <= Math.floor(product.averageRating)) { %>
																	<i class="custom-star fa-solid fa-star"></i>
																<% } else if (i - product.averageRating < 1 && i > product.averageRating) { %>
																	<i class="custom-star fa-regular fa-star-half-stroke"></i>
																<% } else { %>
																	<i class="custom-star fa-regular fa-star"></i>
																<% } %>
															<% } %>
															<div class="rating-tooltip"></div>
															</div>
															<div class="product-btns">
																	<button class="add-to-wishlist" 
																		data-product-id="<%= product.id %>" 
																		data-variant-id="<%= product.variantId %>">
																	<i class="fa-regular fa-heart"></i>  
																	<span class="tooltipp">Favoritos</span>
																</button>
																	<% if (product.itsMobile) { %>
																	<button class="add-to-compare" data-id="<%= product.id %>">
																		<i class="fa-solid fa-arrow-right-arrow-left"></i>
																	<span class="tooltipp">Comparar</span></button>
																	<% } %>
															</div>
														</div>
												</div>
											</div>
											<% }); %>
											<% } else { %>
												<p>No hay productos disponibles.</p>
												<% } %>
											</div>
											</div><br><br><br>
											<!-- /store products -->

											<!-- store bottom filter -->
											<div class="store-filter clearfix">
												<span class="store-qty">Mostrando <%= products.length %> productos</span>
												<ul class="store-pagination">
													<% if (page> 1) { %>
													<li class="pagination-prev">
														<a href=" /store/<%= page - 1 %>?limit=<%= limit %>&sortBy=<%= sortBy %>&category=<%= categories.join(',') %>&brand=<%= brands.join(',') %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>">
															<img src="https://img.icons8.com/forma-thin-filled/24/back.png" alt="Anterior" width="20" height="20">
														</a>
													</li>
													<% } %>
													<% const totalPages=Math.ceil(totalProduct / limit); %>
													<% const start=Math.max(1, page - 2); %>
													<% const end=Math.min(totalPages, page + 2); %>
													<% if (start> 1) { %>
													<li>
														<a href=" /store/1?limit=<%= limit %>&sortBy=<%= sortBy %>&category=<%= categories.join(',') %>&brand=<%= brands.join(',') %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>">1</a>
													</li>
													<% if (start> 2) { %><li><span>...</span></li>
														<% } %>
														<% } %>
														<% for (let i=start; i <=end; i++) { %>
															<li class="pagination-number <%= i === page ? 'active' : '' %>">
																<a href=" /store/<%= i %>?limit=<%= limit %>&sortBy=<%= sortBy %>&category=<%= categories.join(',') %>&brand=<%= brands.join(',') %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>">
														<%= i %>
													</a>
												</li>
												<% } %>
												<% if (end < totalPages) { %>
													<% if (end < totalPages - 1) { %>
														<li><span>...</span></li>
														<% } %>
														<li>
															<a href=" /store/<%= totalPages %>?limit=<%= limit %>&sortBy=<%= sortBy %>&category=<%= categories.join(',') %>&brand=<%= brands.join(',') %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>">
																<%= totalPages %>
															</a>
														</li>
														<% } %>
														<% if (page < totalPages) { %>
															<li class="pagination-next">
																<a href=" /store/<%= page + 1 %>?limit=<%= limit %>&sortBy=<%= sortBy %>&category=<%= categories.join(',') %>&brand=<%= brands.join(',') %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>">
																	<img src="https://img.icons8.com/forma-thin-filled/24/forward.png" alt="Siguiente" width="20" height="20"></a>
																</li>
																<% } %>
															</ul>
														</div>
														<!-- /store bottom filter -->
													</div>
													<!-- /STORE -->
												</div>
												<!-- /row -->
											</div>
											<!-- /container -->
										</div>
										<!-- /SECTION -->

	<%- include('../partials/footer.ejs') %>

	</body>
	
	<script src="/js/utils/ratingTooltip.js" type="module"></script>
	<script src="/js/utils/ratingTab.js" type="module"></script>
	<script src="/js/utils/buttonComparison.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="https://unpkg.com/feather-icons"></script>

	</html>