<%- include('../components/header.ejs') %>

<body>

<div class="register-container">
  <h2>Crear cuenta</h2>

  <form action="/api/auth/register" method="POST">
    <label>Nombre de usuario:</label>
    <input type="text" name="username" value="<%= username || '' %>" placeholder="Introducir nombre de usuario" required>

    <label>Correo electrónico:</label>
    <input type="email" name="email" value="<%= email || '' %>"  placeholder="Introducir correo electrónico" required>

    <label>Contraseña:</label>
    <input type="password" name="password"  placeholder="Introducir contraseña" required>
    
    <label>Confirmar contraseña:</label>
    <input type="password" name="confirmPassword"  placeholder="Repetir contraseña" required>

<% if (error) { %>
    <p style="color:red"><%= error %></p>
  <% } %>


    <button type="submit">Registrarse</button>
  </form>

  <div class="links">
  <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
</div>
</div>  

<%- include('../components/footer.ejs') %>