<%- include('../components/header.ejs') %>

<body>
  
  <div class="verify-container">
  <h2>Verifica tu correo</h2>

  <p class="text">Hemos enviado un c贸digo a tu correo <strong><%= email %></strong></p>

  <form method="POST" action="/api/auth/verifyCode">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="type" value="verify">
    <input type="text" name="code" placeholder="C贸digo de verificaci贸n" required class="<%= validationErrors?.code ? 'input-error' : '' %>">
    
    <% if (validationErrors?.code) { %>
      <p class="field-error"><%= validationErrors.code %></p>
    <% } %>
    
    <% if (error && !validationErrors?.code) { %>
      <p class="general-error"><%= error %></p>
    <% } %>
  
    <button type="submit">Verificar</button>
  </form>
  
  <form method="POST" action="/api/auth/resendCode">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="type" value="verify">
    <button type="submit">Reenviar c贸digo</button>
  </form>
</div>
    
<%- include('../components/footer.ejs') %>